// #account-wrapper {
//     display: flex;
//     justify-content: center;
  

// }

#account-spreader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-buttons{
    width: 8rem;
}

.account-header-spreader {
    display: flex;
    justify-content: space-between;

}

// #account-header-contact-info {
//     display: flex;
//     justify-content: right;
// }