.alert-container {
  border: solid 3px black;
  flex-direction: column;
  width: inherit;
}

.header {
  border: solid 3px blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
