.alert {
  padding-left: 30px;
  padding-right: 30px;

  .card {
    background-color: #fce5a4;
    margin-bottom: -30px;
    margin-top: -15px;
    margin-left: -27px;
    margin-right: -27px;
  }

  .alert-title {
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
    background-color: #fce5a4;
    h5 {
      padding-left: 10px;
      padding-top: 5px;
      color: #947110;
    }
    i {
      color: #947110;
    }
  }
  .alert-card {
    width: 100%;
    margin: auto;

    .alert-header {
      background-color: #fce5a4;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
      height: 60px;
    }
    .card-body {
      background-color: #fce5a4;
      display: flex;
      width: 90%;
      margin: auto;
      .card-text {
        height: 110px;
      }
    }
    li {
      background-color: #fce5a4;
    }
    .post-photo {
      max-height: 150px;
      margin-top: -10px;
    }
  }
}
