.fc-event-main {
  cursor: pointer;
}
.main {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 4vh;
}

.menu {
  position: absolute;
  top: -2vh;
  left: 20vw;
}
.calender {
  width: 90vw;
  height: 70vh;
  margin: auto;
}

.fc-col-header-cell-cushion {
  color: black;
}
.fc-daygrid-day-number {
  color: black;
}

.form-contenant {
  width: 40vw;
  .event-form {
    display: flex;
    flex-direction: row;

    .first-section {
      padding-right: 30px;
      width: 50%;
    }
    .second-section {
      width: 50%;
      .date {
        padding-bottom: 20px;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .form-contenant {
    width: 60vw;
  }
}
@media screen and (max-width: 1000px) {
  .form-contenant {
    width: 70vw;
  }
}

@media screen and (max-width: 750px) {
  .form-contenant {
    width: 90vw;
  }
}
