body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto Slab",
    "Times New Roman", serif;

  background-image: url("https://www.transparenttextures.com/patterns/ice-age.png");

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// .override-body {
//   // margin-top: 75px;
// }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#z-index-zero {
  z-index: 0;
}
