.landing-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/neighbours.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding-top: 90px;

  .button-container {
    padding-right: 150px;
    padding-top: 300px;

    a {
      color: white;
      margin-left: 60px;
      padding: 12px 22px;
      &:hover {
        color: white;
      }
    }
  }
}

.landing-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 26px;
  color: $offWhiteBackground;
  text-shadow: 0 0 10px black;
  letter-spacing: 3px;
  position: relative; 

  
    h2 {
      position: absolute;
     
    }
  
}

.mobile-landing-image {
  display: none;
}


@media screen and (max-width: 768px) {

}

@media screen and (max-width: 481px) {

}


