.conversation {
  figure {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    border: 2px solid $chatBorder;
    width: 60%;
    h2 {
      font-size: 16px;
    }
    .sender {
      font-weight: 700;
    }

    .timestamp {
      font-size: 13.5px;
      opacity: 0.5;
      margin: 10px 20px;
    }
  }
}

.user-information {
  background-color: $chatHeader;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
  margin-bottom: 10px;
  border-bottom: 1px solid $chatBorder;
   
  img {
    height: 70x;
    width: 70px;
    margin-bottom: 5px;
    border-radius: 25px;
  }
}
.conversation-header {
  font-weight: 700;

}

.message-content {
  font-weight: 500;
  padding: 25px;
  padding: 25px;
  border-radius: 20px;
  max-width: 40%;
  margin: 10px 30px;
}

.sent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: white;
  .sender {
    color: black;
  }
  .message-content {
    background-color: $chatBlue;
  }
  .timestamp {
    color: black;
  }
}

.received {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: black;
  .message-content {
    background-color: $chatGrey;
  }
}

.message-input {
  background-color: $chatHeader;
  border-top: 1px solid $chatBorder;
  position: relative;
  padding-right: 15px;
  padding-bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  button {
    position: absolute;
    right: 21px;
    bottom: 20px;
    height: 30px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
  }

  .form-control {
    width: 40vw;
    border-radius: 20px;
    padding-right: 65px;
  }
}

.new-message-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.new-conversation {
  .sender {
    display: none;
  }
  .message-content {
    padding: 1px;
    background-color: white;
    color: black;
    font-weight: 700;
  }
}
