// #wrapper {
//     background-image: url(../assets/img/carpentry.jpeg);
//     background-repeat: no-repeat;
//   background-attachment: fixed;
//   background-size: cover;
// }

.postingRow {
    display: flex;
    justify-content: center;
}

.all-postings {
    margin-top: -2rem;
    max-width: 100%;
    margin-right: -8%;
  }


#services-alerts-card {
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-right: 75%;
  top: 8rem;
  width: 300px;
}


#services-alerts-spreader {
display: flex;
justify-content: center;
align-items: flex-start;
  }

#services-alerts-new-button {
  margin-top: .5rem;
  margin-left: .6rem;
}


#services-alerts-title {
  display: flex;
  justify-content: center;
}