// #wrapper {
//     background-image: url(../assets/img/carpentry.jpeg);
//     background-repeat: no-repeat;
//   background-attachment: fixed;
//   background-size: cover;
// }

.postingRow {
    display: flex;
    justify-content: center;
}

.all-postings {
    margin-top: -2rem;
    max-width: 100%;
  }

  #services-alerts-title {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

#services-alerts-title-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#services-alerts-header {
  display: flex;
  justify-content: center;
}

#services-alerts-spreader {
display: flex;
justify-content: center;
align-items: flex-start;
  }

#services-alerts-new-button {
  height: 3.6rem;
  width: 12rem;
  margin-right: .5rem;
}

#services-alerts-filter-dropdown {
  height: 3.6rem;
  width: 14rem;
}